<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 组件扫描器 -->        
	<context:component-scan base-package="com.lijia.handlers"/>
	<!-- 这个id名是固定的，是由DispatcherServlet直接调用的 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<!-- 防止上传的文件名含中文乱码 -->
		<property name="defaultEncoding" value="utf-8"/>
		<!-- 设置上传的文件的大小  value是字节，这里的意思是最大不超过1M，这里不能写1024*1024-->
		<property name="maxUploadSize" value="1048576"></property>
	</bean>
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 异常处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="/error.jsp"></property>
	</bean>
	
</beans>
