<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id="myStudent" class="com.lijia.spring.di03.Student">
		<property name="name" value="李嘉"></property>
		<property name="age" value="21"></property>
		<property name="school" ref="mySchool"></property>
	</bean>
	
	<bean id="mySchool" class="com.lijia.spring.di03.School">
		<property name="name" value="华东交通大学"></property>
	</bean>
        <!-- 扫描指定包下的组件 -->
        <context:component-scan base-package="com.lijia.spring.di03"></context:component-scan>
        
        
</beans>