<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd">
		<!-- 注册切面 -->
	<bean id="myAspect" class="com.lijia.aop.aspectj_xml.MyAspect"/>
	
	<!-- 注册目标对象 -->
	<bean id="myService" class="com.lijia.aop.aspectj_xml.SomeServiceImpl"/>
	
	<!-- AOP配置 -->
	<aop:config>
		<aop:pointcut expression="execution(* *..ISomeService.doFirst(..))" id="myPoint1"/>
		<aop:pointcut expression="execution(* *..ISomeService.doSecond(..))" id="myPoint2"/>
		<aop:pointcut expression="execution(* *..ISomeService.doThird(..))" id="myPoint3"/>
		<aop:aspect ref="myAspect">
			<aop:before method="before" pointcut-ref="myPoint1"/>
			<!-- 如果多个都要执行，指有参数的需要指定参数的全类名，如果只有一个，就可以不用 -->
			<aop:before method="before(org.aspectj.lang.JoinPoint)" pointcut-ref="myPoint1"/>
			
			<aop:after-returning method="afterReturning" pointcut-ref="myPoint2"/>
			
			<aop:around method="around" pointcut-ref="myPoint2"/>
			
			<aop:after-throwing method="afterThrowing" pointcut-ref="myPoint3" throwing="e"/>
			
			<aop:after method="after" pointcut-ref="myPoint3"/>
		</aop:aspect>
	</aop:config>
	
</beans>
